environment: dev
domain: retail_demo
system: retail_demo
entity: orders

bronze:
  enabled: true
  source_type: file
  path_pattern: ./sampledata/source_samples/pattern3_scd_state/system=retail_demo/table=orders/pattern=pattern3_scd_state/dt=2025-11-13/current-history-part-0001.csv
  partition_column: run_date
  options:
    format: csv
    load_pattern: current_history
    partitioning_strategy: date
  local_output_dir: ./sampledata/bronze_samples/pattern3_scd_state

silver:
  enabled: false
